@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container-keyboard{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.title-product-keyboard{
    font-size: 45px;
    margin-top: 200px;
    margin-bottom: 0;
}
.name-product-keyboard{
    font-size: 27px;
    margin-top: 10px;
    margin-left: -340px;
}
.description-keyboard{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    margin-left: -350px;
}
.description-keyboard p{
    margin: 0;
}
.product-keyboard{
    width: 450px;
    height: 200px;
    margin-left: 550px;
    margin-top: 100px;
    position: absolute;
    translate: x;
}
.discount-keyboard{
    width: 65px;
    padding: 4px;
    margin-left: -250px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
    margin-top: 460px;
}
.price-keyboard{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: -450px;
}
.price-now-keyboard{
    font-size: 45px;
    padding-right: 20px;
    margin-left: -420px;
}
.btn-buy-keyboard{
    width: 220px;
    height: 50px;
    margin-left: -330px;
    position: absolute;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 185, 39);
}
.container-keyboard .parcelado{
    margin: 10px 0 20px -440px;
    font-size: 18px;
}
.parcelado p{
    margin: 0;
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-keyboard {
        margin-left: 0;
        height: 900px;
        
    }
    .title-product-keyboard{
        font-size: 24px;
    }
    .name-product-keyboard{
        font-size: 17px;
        margin-top: 0px;
        margin-left: 0;
    }
    .description-keyboard{
        padding-bottom: 30px;
        margin-top: 200px;
        font-size: 18px;
        margin-left: 0;
    }
    .product-keyboard{
        width: 330px;
        height: 130px;
        margin-left: 0px;
        margin-top: -170px;
    }
    .discount-keyboard{
        width: 55px;
        padding: 4px;
        margin-left: 190px;
        margin-top: 620px;
        font-size: 18px;
    }
    .price-keyboard{
        font-size: 25px;
        margin-bottom: 0;
        margin-left: 0px;
    }
    .price-now-keyboard{
        font-size: 45px;
        margin-left: 20px;
    }
    .btn-buy-keyboard{
        margin-left: -110px;
        margin-top: 20px;
    }
    .container-keyboard .parcelado{
        margin: 10px 0 10px -0px;
        font-size: 18px;
    }
}

/* -- TABLETS -- */
@media (width <= 900px) 
and (height >= 1000px ) {
    .product-keyboard{
        width: 370px;
        height: 150px;
        margin-left: 350px;
        margin-top: 100px;
    }
}