.container-keyboard-draonic{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.name-product-keyboard-draonic{
    font-size: 27px;
    margin-top: 0;
    margin-left: -115px;
}
.description-keyboard-draonic{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    margin-left: -350px;
}

.description-keyboard-draonic p{
    margin-top: 10px;
}

.description-keyboard-draonic p:nth-child(7){
    margin-bottom: 40px;
}

.description-keyboard-draonic strong{
    color: rgb(255, 6, 6);
}

.discount-keyboard-draonic{
    width: 65px;
    padding: 4px;
    margin-left: -250px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
    margin-top: 820px;
}

.product-keyboard-draonic{
    width: 600px;
    height: 550px;
    margin-left: 600px;
    margin-top: 250px;
    position: absolute;
    translate: x;
}
.price-keyboard-draonic{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: -450px;
}
.price-now-keyboard-draonic{
    font-size: 45px;
    padding-right: 20px;
    margin-left: -420px;
}
.btn-buy-keyboard-draonic{
    width: 220px;
    height: 50px;
    margin-left: -330px;
    position: absolute;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 185, 39);
}

/* MEDIA QUERIES */ 
@media (width <= 992px) {
    .container-keyboard-draonic{
        height: 1300px;
    }
    
    .name-product-keyboard-draonic{
        font-size: 17px;
        margin: 0;
    }
    .description-keyboard-draonic{
        margin-left: 0;
        margin-top: 200px;
    }
    
    .discount-keyboard-draonic{
        margin-left: 190px;
        width: 55px;
        margin-top: 960px;
    }
    
    .product-keyboard-draonic{
        width: 350px;
        height: 370px;
        margin-left: 0;
        margin-top: -450px;
    }
    .price-keyboard-draonic, .price-now-keyboard-draonic{
        margin: 0;
    }
    .btn-buy-keyboard-draonic{
        margin-left: -110px;
    }
}