.container-cable-aviator{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.name-product-cable-aviator{
    font-size: 22px;
    margin-top: 0;
    margin-left: -250px;
}

.product-cable-aviator{
    width: 440px;
    height: 440px;
    margin-left: 380px;
    margin-top: 300px;
    position: absolute;
}

.discount-cable-aviator{
    width: 65px;
    padding: 4px;
    margin-left: -355px;
    margin-top: 580px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}
.parcelado-cable-av{
    font-size: 18px;
    margin: 10px 0 20px -510px;
}
.parcelado-cable-av p{margin: 0;}

/* MEDIA QUERIES */ 
@media (width <= 992px) {
    .container-cable-aviator{
        height: 1100px;
    }
    
    .name-product-cable-aviator{
        font-size: 14px;
        margin: 0;
    }
    
    .product-cable-aviator{
        width: 340px;
        height: 340px;
        margin-left: 0;
        margin-top: -310px;
    }
    
    .discount-cable-aviator{
        margin-left: 195px;
        margin-top: 830px;
    }

    .parcelado-cable-av{
        margin: 10px 0 0 0;
    }
}