@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container-headset-taurus{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.title-product-headset-taurus{
    font-size: 60px;
    margin-top: 150px;
    margin-bottom: 0;
}

.name-product-headset-taurus{
    font-size: 22px;
    margin-top: 0;
    margin-left: -180px;
}
.description-headset-taurus{
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-left: -180px;
}
.description-taurus p {
    margin-bottom: 0;
}
.description-taurus h2{
    margin-bottom: -10px;
}
.taurus-headset-product{
    width: 450px;
    height: 430px;
    margin-left: 500px;
    margin-top: 150px;
    position: absolute;
}
.discount-taurus{
    width: 65px;
    padding: 4px;
    margin-left: -120px;
    margin-top: 650px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}

.price-taurus{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: -310px;
}
.price-now-taurus{
    font-size: 45px;
    padding-right: 20px;
    margin-left: -255px;
}

.btn-buy-headset-taurus{
    width: 220px;
    height: 50px;
    margin-left: -240px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: absolute;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 185, 39);
}
.parcelado-headset{
    font-size: 18px;
    margin: 10px 0 20px -260px;
}
.parcelado-headset p{margin: 0;}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-headset-taurus{
        height: 1250px;
    }
    
    .title-product-headset-taurus{
        font-size: 40px;
    }
    
    .name-product-headset-taurus{
        font-size: 20px;
        margin-left: 0;
    }
    .description-headset-taurus{
        padding-bottom: 30px;
        margin-top: 270px;
        margin-left: 0;
    }
    .taurus-headset-product{
        width: 300px;
        height: 270px;
        margin-left: 0px;
        margin-top: -375px;
    }
    .discount-taurus{
        width: 55px;
        padding: 4px;
        margin-left: 190px;
        margin-top: 900px;
        font-size: 18px;
    }
    .price-now-taurus{
        margin-left: 0;
    }
    .price-taurus{
        margin-left: 0;
    }
    .btn-buy-headset-taurus{
        margin-left: -120px;
        margin-top: 30px;
    }
    .parcelado-headset{
        margin: 20px 0 0 0;
    }
}

/* -- TABLETS -- */
@media (width <= 900px) 
and (height >= 1000px ) {
    .taurus-headset-product{
        width: 450px;
        height: 430px;
        margin-left: 430px;
        margin-top: 150px;
        position: absolute;
    }
}