@font-face {
    font-family: FontGothamBold;
    src: url(../../../fonts/GOTHAMBOLD.TTF) format(‘truetype’);
}
@font-face {
    font-family: FontGothamBook;
    src: url(../../../fonts/GOTHAMBOOK.TTF) format(‘truetype’);
}

.container-keyboard-akko{
    width: 950px;
    margin-left: 370px;
    height: 700px;
    font-family: FontGothamBold;
    padding-top: 100px;
}
.title-product-keyboard-akko{
    font-size: 45px;
    margin-top: 150px;
    margin-bottom: 0;
}
.name-product-keyboard-akko{
    font-size: 27px;
    margin-top: 10px;
}
.description-keyboard-akko{
    font-family: FontGothamBook;
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
}
.description-keyboard-akko p{
    margin: 0;
}
.product-keyboard-akko{
    width: 400px;
    height: 200px;
    margin-left: 300px;
    margin-top: -180px;
    position: absolute;
    translate: x;
}
.discount-keyboard-akko{
    width: 65px;
    padding: 4px;
    margin-left: 130px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}
.price-keyboard-akko{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin: 0;
}
.price-now-keyboard-akko{
    font-size: 45px;
    padding-right: 20px;
}
.btn-buy-keyboard-akko{
    width: 200px;
    height: 50px;
    position: absolute;
    color: #fff;
    font-family: FontGothamBold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgba(72, 255, 0, 0.756);
    background-image: linear-gradient( to right, rgba(102, 255, 0, 0.404), rgba(0, 0, 0, 0.522));
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-keyboard-akko{
        margin-left: 0;
        width: 100%;
        height: 900px;
        margin-top: -100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title-product-keyboard-akko{
        font-size: 29px;
    }
    .name-product-keyboard-akko{
        font-size: 18px;
    }
    .description-keyboard-akko{
        padding-bottom: 30px;
        margin-top: 230px;
    }
    .product-keyboard-akko{
        width: 320px;
        height: 160px;
        margin-left: 0px;
        margin-top: 240px;
    }
    .discount-keyboard-akko{
        width: 55px;
        padding: 4px;
        margin-left: 190px;
        margin-top: 585px;
        font-size: 18px;
    }
    .btn-buy-keyboard-akko{
        width: 200px;
        height: 50px;
        margin-left: -100px;
        margin-top: 20px;
    }
}