body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container{
  display: flex;
  flex-direction: column;
}

.header{
  margin: 0;
  padding: 0;
  width: 100%;
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
  body{overflow-x: hidden;}
}