.container-storm{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.mouse-storm{
    width: 520px;
    height: 470px;
    margin-left: 380px;
    margin-top: 200px;
    position: absolute;
}
.name-product-storm{
    font-size: 22px;
    margin-top: 0;
    margin-left: -230px;
}
.description-mouse-storm{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    margin-left: -310px;
}
.discount-storm{
    width: 65px;
    padding: 4px;
    margin-left: -220px;
    margin-top: 540px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}
.price-mouse-storm{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: -420px;
}
.price-now-mouse-storm{
    font-size: 45px;
    padding-right: 20px;
    margin-left: -370px;
}
.btn-buy-mouse-storm{
    width: 220px;
    height: 50px;
    position: absolute;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 185, 39);
    margin-left: -300px;
}
.parcelado-mouse{
    font-size: 18px;
    margin: 10px 0 20px -390px;
}
.parcelado-mouse p{margin: 0;}

/* -- TABLETS -- */
@media (width <= 900px) 
and (height >= 1000px ){
    .container-storm{
        height: 1110px;
    }
    .name-product-storm{
        font-size: 18px;
        margin-left: 0px;
    }
    .description-mouse-storm{
        margin-top: 280px;
        margin-left: 0px;
    }
    .mouse-storm{
        width: 325px;
        height: 290px;
        margin-left: 0px;
        margin-top: -300px;
    }
    .discount-storm{
        margin-left: 185px;
        margin-top: 830px;
        width: 50px;
        font-size: 18px;
    }
    .price-mouse-storm{
        margin-left: 0px;
    }
    .price-now-mouse-storm{
        margin-left: 0px;
    }
    .btn-buy-mouse-storm{
        margin-left: -120px;
        margin-top: 20px;
    }
    .parcelado-mouse{
        margin: 10px 0 0px -30px;
    }
}

/* MEDIA QUERIES */ 
@media (width <= 600px) {
    .container-storm{
        height: 1110px;
    }
    .name-product-storm{
        font-size: 18px;
        margin-left: 0px;
    }
    .description-mouse-storm{
        margin-top: 250px;
        margin-left: 0px;
    }
    .mouse-storm{
        width: 325px;
        height: 290px;
        margin-left: 0px;
        margin-top: -450px;
    }
    .discount-storm{
        margin-left: 185px;
        margin-top: 615px;
        width: 50px;
        font-size: 18px;
    }
    .price-mousestorm{
        margin-left: 0px;
    }
    .price-now-mouse-storm{
        margin-left: 0px;
    }
    .btn-buy-mouse-storm{
        margin-left: -120px;
        margin-top: 20px;
    }
    .parcelado-mouse{
        margin: 10px 0 0px -30px;
    }
}