@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container-cable{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.name-product-cable{
    font-size: 22px;
    margin-top: 0;
    margin-left: -360px;
}
.description-cable{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    margin-left: -460px;
}
.description-cable p{margin-bottom: 0;}
.discount-cable{
    width: 65px;
    padding: 4px;
    margin-left: -365px;
    margin-top: 510px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}

.price-cable{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin: 0;
    margin-left: -550px;
}
.price-now-cable{
    font-size: 45px;
    padding-right: 20px;
    margin-left: -500px;
}

.btn-buy-cable{
    width: 220px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    height: 50px;
    position: absolute;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 185, 39);
    margin-left: -370px;
}
.title-product-cable{
    font-size: 80px;
    margin-top: 150px;
    margin-bottom: 0;
}
.pg-product-cable-pink{
    width: 260px;
    height: 260px;
    margin-left: 280px;
    margin-top: 200px;
    position: absolute;
}

button{
    cursor: pointer;
    position: absolute;
    border: none;
}
.cable-pink-change1 {
    width: 50px;
    height: 50px;
    background-color: blue;
    margin-left: 70px;
    margin-top: -36px;
    border-radius: 50%;
    border: none;
}
.cable-change-to-blue1 {
    width: 50px;
    height: 50px;
    background-color: rgb(226, 89, 112);
    margin-left: 400px;
    margin-top: 620px;
    border-radius: 50%;
    border: 3px solid rgba(72, 255, 0, 0.756);
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-cable{
        height: 1100px;
    }
    .title-product-cable{
        font-size: 35px;
    }
    .name-product-cable{
        font-size: 18px;
        margin-left: 0;
    }
    .description-cable{
        padding-bottom: 30px;
        margin-top: 300px;
        margin-left: 0;
    }
    .discount-cable{
        width: 55px;
        padding: 4px;
        margin-left: 180px;
        margin-top: 750px;
        font-size: 18px;
    }
    .btn-buy-cable{
        width: 200px;
        height: 50px;
        margin-left: -100px;
        margin-top: 20px;
    }
    .price-cable{
        margin-left: 0;
    }
    .price-now-cable{
        margin-left: 0;
    }
    .pg-product-cable-pink{
        width: 230px;
        height: 230px;
        margin-left: 0px;
        margin-top: -210px;
    }
    .cable-pink-change1 {
        width: 40px;
        height: 40px;
        margin-left: 30px;
        margin-top: -410px;
    }
    .cable-change-to-blue1 {
        width: 40px;
        height: 40px;
        margin-left: -85px;
        margin-top: 110px;
    }
}

/* -- TABLETS -- */
@media (width <= 900px) 
and (height >= 1000px ) {
    .name-product-cable{
        margin-left: -170px;
    }
    .description-cable{
        margin-left: -270px;
    }
    .title-product-cable{
        font-size: 60px;
    }
    .pg-product-cable-pink{
        margin-left: 420px;
        margin-top: 160px;
    }
    .cable-pink-change1 {
        margin-left: 120px;
        margin-top: -80px;
    }
    .cable-change-to-blue1 {
        margin-left: 540px;
        margin-top: 510px;
    }
    .discount-cable{
        margin-left: -215px;
        margin-top: 480px;
    }
    
    .price-cable{
        margin-left: -400px;
    }
    .price-now-cable{
        margin-left: -370px;
    }
    
    .btn-buy-cable{
        margin-left: -295px;
    }
}