@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container-headset-hebe{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.title-product-headset-hebe{
    font-size: 60px;
    margin-bottom: 0;
}

.name-product-headset-hebe{
    font-size: 22px;
    margin-left: -195px;
    margin-top: 0;
}
.description-headset-hebe{
    width: 350px;
    margin-left: -130px;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.description-hebe p {
    margin-bottom: 0;
}
.description-hebe h2{
    margin-bottom: -10px;
}
.headset-product{
    width: 450px;
    height: 430px;
    margin-left: 600px;
    margin-top: 100px;
    position: absolute;
}
.discount-hebe{
    width: 60px;
    padding: 4px;
    margin-left: -80px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
    margin-top: 430px;
}

.price-hebe{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: -280px;
}
.price-now-hebe{
    font-size: 45px;
    padding-right: 20px;
    margin-left: -230px;
}

.btn-buy-headset-hebe{
    width: 220px;
    margin-left: -230px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    height: 50px;
    position: absolute;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 185, 39);
}
.parcelado-headset-hebe{
    font-size: 18px;
    margin: 10px 0 10px -260px;
}
.parcelado-headset-hebe p{margin: 0;}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-headset-hebe{
        height: 1100px;
    }
    
    .title-product-headset-hebe{
        font-size: 40px;
    }
    
    .name-product-headset-hebe{
        font-size: 20px;
        margin-left: 0;
    }
    .description-headset-hebe{
        padding-bottom: 30px;
        margin-top: 250px;
        margin-left: 0;
    }
    .headset-product{
        width: 265px;
        height: 230px;
        margin-left: 0px;
        margin-top: -350px;
    }
    .discount-hebe{
        width: 50px;
        padding: 4px;
        margin-left: 190px;
        margin-top: 640px;
        font-size: 18px;
    }
    .price-hebe{
        margin-left: 0;
    }
    .price-now-hebe{
        margin-left: 0;
    }
    .btn-buy-headset-hebe{
        width: 200px;
        height: 50px;
        margin-left: -110px;
        margin-top: 30px;
    }
    .parcelado-headset-hebe{
        margin: 10px 0 0px -30px;
    }
}

/* -- TABLETS -- */
@media (width <= 900px) 
and (height >= 1000px ) {
    .headset-product{
        width: 410px;
        height: 400px;
        margin-left: 440px;
        margin-top: 100px;
        position: absolute;
    }
}