@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container-redragon{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.title-product-redragon{
    font-size: 60px;
    margin-top: 150px;
    margin-bottom: 0;
}
.name-product-redragon{
    font-size: 22px;
    margin-top: 0;
    margin-left: -130px;
}
.description-mouse-redragon{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    margin-left: -310px;
}
p{margin-bottom: 0;}

.mouse{
    width: 170px;
    height: 300px;
    margin-left: 350px;
    margin-top: 220px;
    position: absolute;
}
.discount-mouse-reaping{
    width: 65px;
    padding: 4px;
    margin-left: -220px;
    margin-top: 500px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}
.price-mouse-redragon{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: -420px;
}
.price-now-mouse-redragon{
    font-size: 45px;
    padding-right: 20px;
    margin-left: -370px;
}
.btn-buy-mouse-reaping{
    width: 220px;
    height: 50px;
    position: absolute;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 185, 39);
    margin-left: -300px;
}
.parcelado-mouse-reaping{
    font-size: 18px;
    margin: 10px 0 20px -390px;
}
.parcelado-mouse-reaping p{margin: 0;}

/* -- TABLETS -- */
@media (width <= 900px) 
and (height >= 1000px ){
    
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-redragon{
        height: 1100px;
    }
    .title-product-redragon{
        font-size: 33px;
        margin-top: 0;
    }
    .name-product-redragon{
        font-size: 15px;
        margin-left: 0;
    }
    .description-mouse-redragon{
        margin-left: 0px;
        margin-top: 270px;
    }
    .mouse{
        width: 145px;
        height: 250px;
        margin-left: 0px;
        margin-top: -390px;
    }
    .btn-buy-mouse-reaping{
        width: 200px;
        height: 50px;
        margin-left: -100px;
        margin-top: 30px;
    }
    .price-mouse-redragon{
        margin-left: 0px;
    }
    .price-now-mouse-redragon{
        margin-left: 0px;
    }
    .discount-mouse-reaping{
        margin-left: 200px;
        margin-top: 600px;
    }
    .parcelado-mouse-reaping{
        margin: 10px 0 0px -30px;
    }
}