@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container-redragon{
    width: 800px;
    margin-left: 370px;
    height: 700px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.title-product-redragon{
    font-size: 60px;
    margin-top: 150px;
    margin-bottom: 0;
}
.name-product-redragon{
    font-size: 22px;
    margin-top: 0;
}
p{margin-bottom: 0;}

.mouse{
    width: 170px;
    height: 300px;
    margin-left: 320px;
    margin-top: -320px;
    position: absolute;
}
.discount-mouse-reaping{
    width: 65px;
    padding: 4px;
    margin-left: 130px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}
.btn-buy-mouse-reaping{
    width: 200px;
    height: 50px;
    position: absolute;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgba(72, 255, 0, 0.756);
    background-image: linear-gradient( to right, rgba(102, 255, 0, 0.404), rgba(0, 0, 0, 0.522));
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-redragon{
        margin-left: 0;
        width: 100%;
        height: 1100px;
        margin-top: 00px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title-product-redragon{
        font-size: 33px;
    }
    .name-product-redragon{
        font-size: 15px;
    }
    .mouse{
        width: 155px;
        height: 250px;
        margin-left: 0px;
        margin-top: 230px;
    }
    .btn-buy-mouse-reaping{
        width: 200px;
        height: 50px;
        margin-left: -100px;
        margin-top: 30px;
    }
    .discount-mouse-reaping{
        width: 50px;
        padding: 4px;
        margin-left: 190px;
        margin-top: 835px;
        font-size: 18px;
    }
}