@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container-headset-minos-white{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.title-product-headset-minos-white{
    font-size: 60px;
    margin-bottom: 0;
}

.name-product-headset-minos-white{
    font-size: 22px;
    margin-top: 0;
    margin-left: -15px;
}
.description-headset-minos-white{
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-left: -180px;
}
.description-minos-white p {
    margin-bottom: 0;
}
.description-minos-white h2{
    margin-bottom: -10px;
}
.headset-minos-product{
    width: 390px;
    height: 340px;
    margin-left: 500px;
    margin-top: 70px;
    position: absolute;
}
.discount-minos-white{
    width: 65px;
    padding: 4px;
    margin-left: -80px;
    margin-top: 390px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}

.price-minos-white{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: -280px;
}
.price-now-minos-white{
    font-size: 45px;
    padding-right: 20px;
    margin-left: -235px;
}

.btn-buy-headset-minos-white{
    width: 220px;
    margin-left: -240px;
    height: 50px;
    position: absolute;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 185, 39);
}

.headset-minos-white-change{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 700px;
    margin-top: 500px;
    background-color: #fff;
    border: 3px solid rgba(72, 255, 0, 0.756);
}
.headset-minos-black-change{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 200px;
    margin-top: -80px;
    background: #575d5e;
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-headset-minos-white{
        height: 1100px;
    }
    
    .title-product-headset-minos-white{
        font-size: 40px;
    }
    
    .name-product-headset-minos-white{
        font-size: 16px;
    }
    .description-headset-minos-white{
        padding-bottom: 30px;
        margin-top: 280px;
        margin-left: 0;
    }
    .headset-minos-product{
        width: 285px;
        height: 230px;
        margin-left: 0px;
        margin-top: -380px;
    }
    .discount-minos-white{
        width: 50px;
        padding: 4px;
        margin-left: 195px;
        margin-top: 630px;
        font-size: 18px;
    }
    .price-minos-white{
        margin-left: 0;
    }
    .price-now-minos-white{
        margin-left: 0;
    }
    .btn-buy-headset-minos-white{
        margin-left: -120px;
        margin-top: 30px;
    }
    .headset-minos-white-change{
        width: 40px;
        height: 40px;
        margin-left: 85px;
        margin-top: -90px;
    }
    .headset-minos-black-change{
        width: 40px;
        height: 40px;
        margin-left: -60px;
        margin-top: -485px;
    }
}

/* -- TABLETS -- */
@media (width <= 900px) 
and (height >= 1000px ) {
    .headset-minos-product{
        width: 370px;
        height: 320px;
        margin-left: 430px;
    }

    .headset-minos-white-change{
        margin-left: 600px;
    }
    .headset-minos-black-change{
        margin-left: 150px;
    }
}