@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container-mousepad-london{
    width: 800px;
    margin-left: 370px;
    height: 700px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.name-product-mousepad-london{
    font-size: 22px;
    margin-top: 0;
}
.description-mousepad-london{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
}
.description-mousepad-london p{margin-bottom: 0;}
.discount-mousepad-london{
    width: 65px;
    padding: 4px;
    margin-left: 130px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}

.price-mousepad-london{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin: 0;
}
.price-now-mousepad-london{
    font-size: 45px;
    padding-right: 20px;
}

.btn-buy-mousepad-london{
    width: 200px;
    height: 50px;
    position: absolute;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgba(72, 255, 0, 0.756);
    background-image: linear-gradient( to right, rgba(102, 255, 0, 0.404), rgba(0, 0, 0, 0.522));
}
.title-product-mousepad-london{
    font-size: 80px;
    margin-top: 150px;
    margin-bottom: 0;
}
.product-mousepad-london{
    width: 530px;
    height: 340px;
    margin-left: 120px;
    margin-top: -340px;
    position: absolute;
}

button{
    cursor: pointer;
    position: absolute;
}
.dracula-mousepad-london {
    width: 50px;
    height: 50px;
    background: linear-gradient(120deg,
    #a11e2a 50%,
    #575d5e 50%);
    margin-left: 350px;
    border-radius: 50%;
}
.london-mousepad-london{
    width: 50px;
    background: linear-gradient(120deg,
    #243d2e 50%,
    #d69647 50%);
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 420px;
    border: 3px solid rgba(72, 255, 0, 0.756);
}
.tokyo-mousepad-london{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(120deg,
    rgb(223, 89, 111) 50%,
    white 50%);
    margin-left: 490px;
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-mousepad-london{
        margin-left: 0;
        width: 100%;
        height: 900px;
        margin-top: 00px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title-product-mousepad-london{
        font-size: 40px;
    }
    .name-product-mousepad-london{
        font-size: 16px;
    }
    .product-mousepad-london{
        width: 350px;
        height: 240px;
        margin-left: 0px;
        margin-top: 200px;
    }
    .dracula-mousepad-london {
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -390px;
    }
    .london-mousepad-london{
        width: 40px;
        height: 40px;
        margin-top: 425px;
        margin-left: 195px;
    }
    .tokyo-mousepad-london{
        width: 40px;
        height: 40px;
        margin-left: -110px;
        margin-top: -390px;
    }
    .description-mousepad-london{
        padding-bottom: 30px;
        margin-top: 240px;
    }
    .discount-mousepad-london{
        width: 55px;
        padding: 4px;
        margin-left: 190px;
        margin-top: 725px;
        font-size: 18px;
    }
    .btn-buy-mousepad-london{
        width: 200px;
        height: 50px;
        margin-left: -100px;
        margin-top: 20px;
    }
}