.name-product-switch-redragon{
    font-size: 22px;
    margin-top: 0;
    margin-left: -210px;
}
.discount-switch-redragon{
    width: 65px;
    padding: 4px;
    margin-left: -275px;
    margin-top: 485px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}
.switch-redragon{
    width: 500px;
    height: 460px;
    margin-left: 500px;
    margin-top: 270px;
    position: absolute;
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .name-product-switch-redragon{
        margin-left: 0;
        font-size: 16px;
    }
    .discount-switch-redragon{
        margin-left: 185px;
        margin-top: 900px;
    }
    .switch-redragon{
        width: 400px;
        height: 360px;
        margin-left: 0;
        margin-top: -100px;
    }
}