@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container-headset-hylas{
    width: 800px;
    margin-left: 370px;
    height: 700px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.title-product-headset-hylas{
    font-size: 60px;
    margin-top: 150px;
    margin-bottom: 0;
}

.name-product-headset-hylas{
    font-size: 22px;
    margin-top: 0;
}
.description-headset-hylas{
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.description-hylas p {
    margin-bottom: 0;
}
.description-hylas h2{
    margin-bottom: -10px;
}
.hylas-headset-product{
    width: 390px;
    height: 370px;
    margin-left: 180px;
    margin-top: -400px;
    position: absolute;
}
.discount-hylas{
    width: 65px;
    padding: 4px;
    margin-left: 130px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}

.price-hylas{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin: 0;
}
.price-now-hylas{
    font-size: 45px;
    padding-right: 20px;
}

.btn-buy-headset-hylas{
    width: 200px;
    height: 50px;
    position: absolute;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgba(72, 255, 0, 0.756);
    background-image: linear-gradient( to right, rgba(102, 255, 0, 0.404), rgba(0, 0, 0, 0.522));
}
 
/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-headset-hylas{
        margin-left: 0;
        width: 100%;
        height: 1200px;
        margin-top: 00px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title-product-headset-hylas{
        font-size: 40px;
    }
    
    .name-product-headset-hylas{
        font-size: 20px;
    }
    .description-headset-hylas{
        padding-bottom: 30px;
        margin-top: 250px;
    }
    .hylas-headset-product{
        width: 285px;
        height: 230px;
        margin-left: 0px;
        margin-top: 235px;
    }
    .discount-hylas{
        width: 55px;
        padding: 4px;
        margin-left: 190px;
        margin-top: 920px;
        font-size: 18px;
    }
    .btn-buy-headset-hylas{
        margin-left: -100px;
        margin-top: 30px;
    }
}