@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container-headset-hylas{
    width: 100vw;
    display: flex;
    height: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.title-product-headset-hylas{
    font-size: 60px;
    margin-bottom: 0px;
}

.name-product-headset-hylas{
    font-size: 22px;
    margin-top: 0;
    margin-left: -45px;
}
.description-headset-hylas{
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-left: -185px;
}
.description-hylas p {
    margin-bottom: 0;
}
.description-hylas h2{
    margin-bottom: -10px;
}
.hylas-headset-product{
    width: 390px;
    height: 370px;
    margin-left: 500px;
    margin-top: 50px;
    position: absolute;
}
.discount-hylas{
    width: 65px;
    padding: 4px;
    margin-left: -80px;
    margin-top: 500px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}

.price-hylas{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: -280px;
}
.price-now-hylas{
    font-size: 45px;
    padding-right: 20px;
    margin-left: -230px;
}

.btn-buy-headset-hylas{
    width: 220px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: -235px;
    position: absolute;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 185, 39);
}
 
/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-headset-hylas{
        height: 1200px;
    }
    
    .title-product-headset-hylas{
        font-size: 40px;
    }
    
    .name-product-headset-hylas{
        font-size: 18px;
        margin-left: 0;
    }
    .description-headset-hylas{
        padding-bottom: 30px;
        margin-top: 250px;
        margin-left: 0;
    }
    .hylas-headset-product{
        width: 285px;
        height: 230px;
        margin-left: 0px;
        margin-top: -450px;
    }
    .discount-hylas{
        width: 55px;
        padding: 4px;
        margin-left: 190px;
        margin-top: 730px;
        font-size: 18px;
    }
    .price-hylas{
        margin-left: 0;
    }
    .price-now-hylas{
        margin-left: 0;
    }
    .btn-buy-headset-hylas{
        margin-left: -120px;
        margin-top: 30px;
    }
}

/* -- TABLETS -- */
@media (width <= 900px) 
and (height >= 1000px ) {
    .hylas-headset-product{
        width: 360px;
        height: 340px;
        margin-left: 430px;
    }
}