@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.header-container{
    width: 100vw;
    top: 0%;
    display: flex;
    height: 140px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-bottom: 2px solid red;
    align-items: center;
}

.itens{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.info{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:rgba(255, 255, 255, 0.766);
}

.header-container a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    display: flex;
}

.img-lobby{
    width: 100vw;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.logo-title{
   width: 200px;
   height: 70px;
   display: flex;
}

i{
    color:rgba(255, 0, 0, 0.766);
    margin-right: 5px;
}
#home-header{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.766);
    position: absolute;
    margin-left: -250px;
}

#contact-header{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.766);
    position: absolute;
    margin-left: -30px;
}
#about-header{
    font-size: 15px;
    margin-left: 210px;
    color: rgba(255, 255, 255, 0.766);
}
#contact-header i{
    transform: rotate(90deg);
}

/* -- TABLETS -- */
@media (width <= 992px)  {
    .header-container{
        width: 100%;
        height: 135px;
        display: flex;
        justify-content: end;
    }
    
    .header-container a{
        padding: 0;
        margin-top: 7px;
        color: rgb(255, 255, 255)
    }

    .itens{
        width: 200px;
        background-color: red;
        height: 60px;
        display: flex;
        border-radius: 7px;
        margin-right: 15px;
        margin-top: 10px;
    }

    i{
        color: #fff;
        margin-right: 0;
        margin-top: 5px;
    }
        
    #home-header{
        font-size: 28px;
        color: transparent;
        position: absolute;
        margin-left: -35px;
    }

    #contact-header{
        font-size: 28px;
        color: transparent;
        position: absolute;
        margin-left: 145px;
    }
    
    #about-header{
        margin-top: 7px;
        font-size: 28px;
        margin-left: 230px;
        color: transparent;
    }

    .img-lobby{
        width: 100%;
        justify-content: start;
    }
    .logo-title{
        margin-left: 15px;
        width: 210px;
        height: 70px;
    }
}

/* --- MEDIA QUERIES --- */
@media (width <= 500px) 
and (height <= 950px ) {
    .header-container{
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: end;
    }
    
    .header-container a{
        padding: 0;
        margin-top: 7px;
        color: rgb(255, 255, 255)
    }

    .itens{
        width: 155px;
        background-color: red;
        height: 40px;
        display: flex;
        border-radius: 7px;
        margin-right: 15px;
    }

    i{
        color: #fff;
        margin-right: 0;
    }
        
    #home-header{
        font-size: 22px;
        color: transparent;
        position: absolute;
        margin-left: -30px;
        margin-top: 2px;
    }

    #contact-header{
        font-size: 22px;
        color: transparent;
        position: absolute;
        margin-left: 115px;
        margin-top: 2px;
    }
    
    #about-header{
        margin-top: 2px;
        font-size: 22px;
        margin-left: 190px;
        color: transparent;
    }

    .img-lobby{
        width: 100%;
        justify-content: start;
    }
    .logo-title{
        margin-left: 15px;
        width: 160px;
        height: 50px;
    }
}