
 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.header-container{
    width: 100%;
    top: 0%;
    display: flex;
    height: 140px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-bottom: 2px solid rgba(255, 0, 0, 0.766);
    align-items: center;
}

.info{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:rgba(255, 255, 255, 0.766);
}

.header-container a{
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 27px;
}

#home-header {
    margin-left: 15px;
}

.img-lobby{
    margin-left: 245px;
    width: 200px;
}
.logo-title{
   width: 200px;
   height: 70px;
   display: flex;
}

i{
    color:rgba(255, 0, 0, 0.766);
    margin-right: 5px;
}
#contact-header i{
    transform: rotate(90deg);
}

/* --- MEDIA QUERIES --- */
@media (width <= 500px) 
and (height <= 950px ) {
    .header-container{
        width: 100%;
        height: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    
    .header-container a{
        padding: 0;
        margin-top: 7px;
        color: rgb(255, 255, 255)
    }

    .itens{
        width: 155px;
        background-color: red;
        display: flex;
        height: 40px;
        
        margin-top: 0px;
        margin-right: 15px;
        border-radius: 7px;
        position: absolute;
    }
    i{
        color: #fff;
    }
        
    #home-header{
        margin-right: -18px;
        font-size: 22px;
        color: transparent;
    }

    #contact-header{
        font-size: 22px;
        margin-right: -65px;
        color: transparent;
    }
    
    #about-header{
        margin-top: 7px;
        font-size: 22px;
        margin-left: 0px;
        color: transparent;
    }

    .img-lobby{
        width: 100%;
        margin: 0;
    }
    .logo-title{
        width: 160px;
        height: 50px;
        margin-left: 15px;
    }
}