@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.footer-container{
    width: 100vw;
    display: flex;
    height: 220px;
    justify-content: center;
    padding-bottom: 100px;
    margin-top: 200px;
    background-color: #390000;
}
.images {
    display: flex; 
    align-items: center;
    margin-left: -170px;
    margin-top: 90px;  
}

.menu{
    display: flex;
    height: 75px;
    width: 190px;
    margin-left: 170px;
}

.payments{
    height: 130px;
    margin-left: 230px;
}

.securities{
    height: 65px;
    width: 250px;
    margin-left: 230px;
}

.discord-icon{
    margin-left: 210px;
    height: 50px;
    width: 50px;
}

.contact{
    margin-left: 10px;
    height: 50px;
    width: 50px;
}
.credits{
    font-family: 'Montserrant', sans-serif;
    font-weight: normal;
    position: absolute;
    width: 100%;
    margin-top: 180px;
    font-size: 12px;
    text-align: center;
}
.credits a{
    text-decoration: none;
    color: #fff;
}
.credits p{
    margin: 0;
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .footer-container{
        width: 100%;
        height: 200px;
        padding-bottom: 00px;
        justify-content: center;
    }
    .images {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 3.5rem;
        row-gap: -20px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .menu{
        display: flex;
        height: 50px;
        width: 150px;
        margin-left: 0px;
        margin-top: -50px;
    }
    
    .payments{
        height: 85px;
        width: 140px;
        margin-left: 0px;
        margin-top: -25px;
    }
    
    .securities{
        height: 40px;
        width: 140px;
        margin-left: 0px;
        margin-top: -55px;
    }
    .discord-icon{
        margin-left: 0px;
        height: 40px;
        width: 40px;
    }

    .column{
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        margin-top: -50px;
    }
    
    .contact{
        margin-left: 10px;
        height: 40px;
        width: 40px;
    }
    .credits{
        font-size: 8px;
        width: 100%;
        margin-top: 175px;
    }
}

/* -- TABLETS -- */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .menu{
        display: flex;
        height: 45px;
        width: 120px;
        margin-left: 150px;
    }
    
    .payments{
        height: 80px;
        width: 130px;
        margin-left: 50px;
    }
    
    .securities{
        height: 45px;
        width: 170px;
        margin-left: 50px;
    }
    
    .discord-icon{
        margin-left: 10px;
        height: 45px;
        width: 45px;
    }
    .column{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-left: 50px;
        margin-top: 10px;
    }
    .contact{
        margin-left: 10px;
        height: 45px;
        width: 45px;
    }
}