@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container-headset-hero-red{
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 900px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.title-product-headset-hero-red{
    font-size: 60px;
    margin-bottom: 0;
}
.name-product-headset-hero-red{
    font-size: 22px;
    margin-top: 0;
    margin-left: 170px;
}
.description-headset-hero-red{
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-left: -190px;
}
.discount-hero-red{
    width: 65px;
    padding: 4px;
    margin-left: -50px;
    margin-top: 360px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}
.white-hero-change1{
    width: 50px;
    height: 50px;
    margin-left: 200px;
    border-radius: 50%;
    margin-top: -50px;
    background-color: #fff;
}

.white-purple-hero-change1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 290px;
    margin-top: -50px;
    background: linear-gradient(120deg, #fff 50%, purple 50%);
}

.white-red-hero-change1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 810px;
    margin-top: 540px;
    background: linear-gradient(120deg, #fff 50%, red 50%);
    border: 3px solid rgba(72, 255, 0, 0.756);
}

.btn-buy-headset-hero-red{
    width: 220px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: absolute;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 185, 39);
    margin-left: -240px;
}

.product-headset-red{
    width: 340px;
    height: 360px;
    margin-left: 620px;
    margin-top: 100px;
    position: absolute;
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-headset-hero-red{
        height: 1000px;
    }
    .title-product-headset-hero-red{
        font-size: 40px;
        margin-top: 30px;
    }
    .name-product-headset-hero-red{
        font-size: 11px;
        margin-left: 0;
    }
    .description-headset-hero-red{
        margin-left: 0;
        margin-top: 280px;
    }
    .product-headset-red{
        width: 225px;
        height: 240px;
        margin-left: 0px;
        margin-top: -365px;
    }
    .btn-buy-headset-hero-red{
        margin-left: -110px;
        margin-top: 30px;
    }
    .white-hero-change1{
        width: 40px;
        height: 40px;
        margin-left: -80px;
        margin-top: -470px;
    }
    
    .white-purple-hero-change1{
        width: 40px;
        height: 40px;
        margin-left: -10px;
        margin-top: -470px;
    }
    
    .white-red-hero-change1{
        width: 40px;
        height: 40px;
        margin-left: 160px;
        margin-top: -90px;
    }
    .discount-hero-red{
        margin-top: 600px;
        margin-left: 200px;
    }
}

/* -- TABLETS -- */
@media (width <= 900px) 
and (height >= 1000px ) {
    .name-product-headset-hero-red{
        font-size: 20px;
        margin-top: 0;
        margin-left: 110px;
    }
    
    .product-headset-red{
        width: 320px;
        height: 340px;
        margin-left: 440px;
        margin-top: 100px;
    }
    
    .white-hero-change1{
        margin-left: 110px;
        background-color: #fff;
    }
    
    .white-purple-hero-change1{
        margin-left: 200px;
        margin-top: -50px;
        background: linear-gradient(120deg, #fff 50%, purple 50%);
    }
    
    .white-red-hero-change1{
        margin-left: 630px;
        margin-top: 535px;
        background: linear-gradient(120deg, #fff 50%, red 50%);
    }
}