.container-hermes-e2{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.title-product-hermes-e2{
    font-size: 60px;
    margin-top: 150px;
    margin-bottom: 0;
}

.name-product-hermes-e2{
    font-size: 22px;
    margin-top: 0;
    margin-left: -545px;
}
.description-hermes-e2{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    margin-left: -635px;
}
.hermes-e2{
    width: 540px;
    height: 270px;
    margin-left: 400px;
    margin-top: 70px;
    position: absolute;
}
.discount-hermes-e2{
    width: 65px;
    padding: 4px;
    margin-left: -565px;
    margin-top: 690px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}

.price-hermes-e2{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: -760px;
}
.price-now-hermes-e2{
    font-size: 45px;
    padding-right: 20px;
    margin-left: -700px;
}
.btn-buy-hermes-e2{
    width: 220px;
    height: 50px;
    position: absolute;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 185, 39);
    margin-left: -465px;
}
.parcelado-teclado-e2{
    font-size: 18px;
    margin: 10px 0 20px -710px;
}
.parcelado-teclado-e2 p{margin: 0;}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-hermes-e2{
        height: 1000px;
    }
    
    .title-product-hermes-e2{
        font-size: 22px;
        margin-top: 190px;
    }
    
    .name-product-hermes-e2{
        font-size: 17px;
        margin-left: 0;
    }
    .description-hermes-e2{
        margin-left: 0;
        margin-top: 200px;
    }
    .hermes-e2{
        width: 340px;
        height: 150px;
        margin-left: 0;
        margin-top: -420px;
    }
    .discount-hermes-e2{
        margin-left: 200px;
        margin-top: 870px;
    }
    
    .price-hermes-e2{
        margin-left: 0;
    }
    .price-now-hermes-e2{
        margin-left: 0px;
    }
    .btn-buy-hermes-e2{
        margin-left: -115px;
    }
    .parcelado-teclado-e2{
        margin: 10px 0 20px 0;
    }
}