*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background:#ff00008f;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}