@font-face {
    font-family: FontGothamBold;
    src: url(../../../../fonts/GOTHAMBOLD.TTF) format(‘truetype’);
}
@font-face {
    font-family: FontGothamBook;
    src: url(../../../../fonts/GOTHAMBOOK.TTF) format(‘truetype’);
}

.container-headset-hero{
    width: 800px;
    margin-left: 370px;
    height: 700px;
    font-family: FontGothamBold;
}

.title-product-headset-hero{
    font-size: 60px;
    margin-top: 150px;
    margin-bottom: 0;
}

.name-product-headset-hero{
    font-size: 22px;
    margin-top: 0;
}
.description-headset-hero{
    width: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: FontGothamBook;
}
.description-hero p {
    margin-bottom: 0;
}
.description-hero h2{
    margin-bottom: -10px;
}
.product-headset-black{
    width: 400px;
    height: 360px;
    margin-left: 270px;
    margin-top: -380px;
    position: absolute;
}
.discount-hero{
    width: 65px;
    padding: 4px;
    margin-left: 130px;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(255, 6, 6);
    font-size: 22px;
}

.price-hero{
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-size: 25px;
    margin: 0;
}
.price-now-hero{
    font-size: 45px;
    padding-right: 20px;
}

.white-hero{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 350px;
    border: 3px solid rgba(72, 255, 0, 0.756);
}
.white-purple-hero{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 430px;
    background: linear-gradient(120deg, #fff 50%, purple 50%);
}
.white-red-hero{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 510px;
    background: linear-gradient(120deg, #fff 50%, red 50%);
}

.btn-buy-headset-hero{
    width: 200px;
    height: 50px;
    position: absolute;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgba(72, 255, 0, 0.756);
    background-image: linear-gradient( to right, rgba(102, 255, 0, 0.404), rgba(0, 0, 0, 0.522));
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-headset-hero{
        margin-left: 0;
        width: 100%;
        height: 1100px;
        margin-top: 00px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title-product-headset-hero{
        font-size: 40px;
    }
    .name-product-headset-hero{
        font-size: 16px;
    }
    .description-headset-hero{
        padding-bottom: 30px;
        margin-top: 280px;
    }
    .product-headset-black{
        width: 285px;
        height: 230px;
        margin-left: 0px;
        margin-top: 225px;
    }
    .discount-hero{
        width: 55px;
        padding: 4px;
        margin-left: 200px;
        margin-top: 765px;
        font-size: 18px;
    }
    .btn-buy-headset-hero{
        margin-left: -100px;
        margin-top: 30px;
    }
    .white-hero{
        width: 40px;
        height: 40px;
        margin-left: -120px;
        margin-top: 460px;
    }
    .white-purple-hero{
        width: 40px;
        height: 40px;
        margin-left: -10px;
        margin-top: -385px;
    }
    .white-red-hero{
        width: 40px;
        height: 40px;
        margin-left: 60px;
        margin-top: -385px;
    }
}